# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build output
*.test
*.out

# Output of the go coverage tool
*.coverprofile
*.cov
*.coverage

# Dependency directories (in case you're using vendor/)
vendor/

# Go workspace files
go.work
go.work.sum

# Go modules cache (if you're vendoring or using tools that modify these)
pkg/

# IDE/editor configs
.idea/
.vscode/
*.swp

# Logs
*.log

# Environment variable files
.env

# OS-specific files
.DS_Store
Thumbs.db

# Ignore example.go
example.go

# Frontend
# Dependencies
web/node_modules/
web/.pnp
web/.pnp.js

# Testing
web/coverage/

# Production
web/build/
web/dist/

# Misc
web/.DS_Store
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

# IDE
web/.idea/
web/.vscode/
web/*.sublime-project
web/*.sublime-workspace

# Optional npm cache directory
web/.npm

# Optional eslint cache
web/.eslintcache

# Optional REPL history
web/.node_repl_history

# Output of 'npm pack'
web/*.tgz

# Yarn Integrity file
web/.yarn-integrity

# TypeScript cache
web/*.tsbuildinfo

# Optional stylelint cache
web/.stylelintcache
